.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html {
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 30rem;
    margin: auto;
    align-items: center;
    margin-top: 25rem;
}

img {
    width: 25rem;
    height: auto;
    padding: 1.3rem;
}

.primary, .secondary{
    font-family: 'Outfit';
    text-align: center;
}

.primary{
    font-weight: 700;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.secondary{
    font-weight: 400;
    font-size: 15px;
}

.attribution{
    padding-top: 20rem;
}